

/dts-v1/;
//include/ "dt-bindings/interrupt-controller/irq.h"
//include/ "dt-bindings/gpio/gpio.h"



/ {
    #address-cells = <0x1>;
    #size-cells = <0x1>;
    compatible = "spinal,vexriscv";
    model = "spinal,vexriscv_sim";

/*
    chosen {
        bootargs = "rootwait console=hvc0 root=/dev/ram0 init=/sbin/init swiotlb=0"; // loglevel=7
        linux,initrd-start = <0x90600000>;
        linux,initrd-end =   <0x90F00000>; 
    };
*/

    chosen {
        bootargs = "rootwait console=hvc0 root=/dev/mmcblk0p1 init=/sbin/init swiotlb=0"; // loglevel=7
    };

    cpus {
        #address-cells = <0x1>;
        #size-cells = <0x0>;
        timebase-frequency = <100000000>;
            cpu@0 {
                device_type = "cpu";
                compatible = "riscv";
                riscv,isa = "rv32im";
                mmu-type = "riscv,sv32";
                reg = <0>;
                status = "okay";
                L1: interrupt-controller {
                    #interrupt-cells = <0x00000001>;
                    interrupt-controller;
                    compatible = "riscv,cpu-intc";
                };
            };
        };

    memory@90000000 {
        device_type = "memory";
        reg = <0x90000000 0x02000000>;
    };
    
    apbA@10000000 {
        compatible = "simple-bus";
        #address-cells = <0x1>;
        #size-cells = <0x1>;
        ranges = <0x0 0x10000000 0x01000000>;

        plic: interrupt-controller@c00000 {
            compatible = "sifive,plic-1.0.0", "sifive,fu540-c000-plic";
            #interrupt-cells = <1>;
            interrupt-controller;
            interrupts-extended = <&L1 11 &L1 9>;
            reg = <0x00C00000 0x400000>;
            riscv,ndev = <32>;
        };

        gpioA: gpio@0 {
	        compatible = "spinal-lib,gpio-1.0";
	        interrupt-parent = <&plic>;
	        ngpio = <24>;
	        interrupts = <4 5 6 7>;
	        reg = <0x000000 0x1000>;
	        gpio-controller;
	        #gpio-cells = <2>;
	        interrupt-controller;
	        #interrupt-cells = <2>;
        };


        spiA: spi@20000 {
            compatible = "spinal-lib,spi-1.0";
            #address-cells = <1>;
            #size-cells = <0>;   
            reg = <0x020000 0x1000>;
            cmd_fifo_depth = <256>;
            rsp_fifo_depth = <256>;
            cs-gpios = <&gpioA 8 0>;

                   

            mmc-slot@0 {
                compatible = "mmc-spi-slot";
                reg = <0>;
                voltage-ranges = <3300 3300>;
                spi-max-frequency = <5000000>;
            };
        };

        spiB: spi@21000 {
            compatible = "spinal-lib,spi-1.0";
            #address-cells = <1>;
            #size-cells = <0>;   
            reg = <0x021000 0x1000>;
            cmd_fifo_depth = <256>;
            rsp_fifo_depth = <256>;
            cs-gpios = <&gpioA 4 0>, <&gpioA 5 0>, <&gpioA 6 0>, <&gpioA 7 0>;

                   
/*
            enc28j60: ethernet@0 {
                compatible = "microchip,enc28j60";
                reg = <0>;
                interrupt-parent = <&gpioA>;
                interrupts = <0 2>; //IRQ_TYPE_EDGE_FALLING
                spi-max-frequency = <2000000>;
            };   

            w5500: ethernet@1 {
                compatible = "wiznet,w5500";
                reg = <1>; 
                interrupt-parent = <&gpioA>; 
                interrupts = <1 2>; 
                spi-max-frequency = <2000000>;
            }; 

			wilc_spi@2 {
				compatible = "microchip,wilc1000";
				spi-max-frequency = <10000000>;
				reg = <2>;
				irq-gpios = <&gpioA 2 0>;
				reset-gpios = <&gpioA 14 0>;
				chip_en-gpios = <&gpioA 15 0>;
				status = "okay";
			};

			wilc_spi@2 {
				compatible = "microchip,wilc1000-spi";
				spi-max-frequency = <4000000>;
				reg = <2>;
				irq-gpios = <&gpioA 2 0>;
				status = "okay";
			};
*/

            spidev@0 {
                compatible = "rohm,dh2228fv"; //spidev
                spi-max-frequency = <1000000>;
                reg = <0>;
            }; 

            spidev@1 {
                compatible = "rohm,dh2228fv"; //spidev
                spi-max-frequency = <1000000>;
                reg = <1>;
            };     
/*
            spidev@2 {
                compatible = "rohm,dh2228fv"; //spidev
                spi-max-frequency = <1000000>;
                reg = <2>;
            };    
 */
            spidev@3 {
                compatible = "rohm,dh2228fv"; //spidev
                spi-max-frequency = <1000000>;
                reg = <3>;
            };    
        };

		spi {
			compatible = "spi-gpio";
			#address-cells = <0x1>;
			ranges;

			sck-gpios = <&gpioA 10 0>;
			miso-gpios = <&gpioA 13 0>;
			mosi-gpios = <&gpioA 12 0>;
			cs-gpios = <&gpioA 11 0>;
			num-chipselects = <1>;
/*
			wilc_spi@0 {
				compatible = "microchip,wilc1000";
				spi-max-frequency = <4000000>;
				reg = <0>;
				irq-gpios = <&gpioA 2 0>;
				reset-gpios = <&gpioA 14 0>;
				chip_en-gpios = <&gpioA 15 0>;
				status = "okay";
			};*/
			/*wilc_spi@0 {
				compatible = "microchip,wilc1000";
				spi-max-frequency = <4000000>;
				reg = <0>;
				irq-gpios = <&gpioA 2 0>;
				status = "okay";
			};*/
		};
    };

	leds: leds {
		compatible = "gpio-leds";
		led0 {
			label = "LED0";
			gpios = <&gpioA 16 0>;
			linux,default-trigger = "mmc0";
		};
	};
};


